* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dd6e42;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: xx-large;
    margin-bottom: 20px;
    color: #4f6d7a;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    width: 60vmin;
    height: 60vmin;
    margin-bottom: 20px; /* Add margin below the game board */
}

.box {
    width: 20vmin;
    height: 20vmin;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8dab2;
    border: 1px solid #fff;
    color: white;
    font-size: 5rem;
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    outline: none;
}

#reset-button, #new-game-button {
    width: auto;
    min-width: 100px;
    height: auto;
    padding: 10px 20px;
    font-size: large;
    background-color: #4f6d7a;
    border: 1px solid #fff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    margin: 5px 0; /* Add margin between the buttons */
}

.box:active {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .container {
        width: 80vmin;
        height: 80vmin;
        margin-bottom: 15px; /* Adjust margin for smaller screens */
    }

    .box {
        width: 25vmin;
        height: 25vmin;
        font-size: 4rem;
    }

    #reset-button, #new-game-button {
        font-size: medium;
        padding: 8px 16px;
        min-width: 80px;
        margin: 3px 0; /* Adjust margin between buttons for smaller screens */
    }
}

/* Media Query for very small screens (like mobile phones) */
@media (max-width: 400px) {
    .container {
        width: 90vmin;
        height: 90vmin;
        margin-bottom: 10px; /* Adjust margin for very small screens */
    }

    .box {
        width: 30vmin;
        height: 30vmin;
        font-size: 3rem;
    }

    #reset-button, #new-game-button {
        font-size: small;
        padding: 6px 12px;
        min-width: 70px;
        margin: 2px 0; /* Adjust margin between buttons for very small screens */
    }
}
